@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

:root {
  --fw1: 400;
  --fw2: 500;
  --fs-sm: 16px;
  --fs-md1: 24px;
  --fs-md2: 32px;
  --fs-lg: 40px;
  --head-font: "Zen Dots", sans-serif;
  --body-font: "Ligconsolata Regular", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #121212;
}
section {
  margin: 0 5%;
}
a {
  cursor: pointer;
  text-decoration: none;
}
h2 {
  color: #fff;
  font-family: "Zen Dots", sans-serif;
  text-transform: capitalize;
  font-size: var(--fs-lg);
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 60px */
  margin-bottom: 5%;
}
h3 {
  color: #fff;
  font-family: "Zen Dots";
  font-size: var(--fs-md1);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero-sec {
  position: relative;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-sec .hero-background-frame {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: -1;
}
.hero-sec .background-frame-row {
  display: flex;
  height: 25%;
  width: 100%;
}
.hero-sec .background-frame-cell {
  border-style: dashed;
  border-width: 0.5px;
  border-color: #515151;
  width: 17%;
  height: 100%;
}
.hero-sec .gradient-cell {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: linear-gradient(
    293deg,
    #3e47b7 20.25%,
    #394fb7 60.09%,
    #3d7ddd 95.53%
  );
  filter: blur(250px);
  opacity: 0.6;
}
.hero-sec .hero-content {
  position: absolute;
  z-index: 1;
  display: flex;
  gap: 8%;
  align-items: center;
  /* justify-content: center; */
  /* height: 100%; */
  width: 100%;
  padding: 0 10% 0 6%;
  /* margin-top: 5%; */
}
.hero-sec .hero-content nav {
  /* height: fit-content; */
  width: 10%;
  padding: 2% 1%;
  gap: 5vh;
  display: flex;
  flex-direction: column;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 8px 6px 0px rgba(0, 0, 0, 0.05),
    0px 1px 1px 0px rgba(255, 255, 255, 0.25) inset,
    0px -1px 1px 0px rgba(255, 255, 255, 0.1) inset;
  backdrop-filter: blur(50px);
}
.hero-sec .hero-content nav .navbtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10%;
  width: 100%;
  margin: 10% 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.hero-sec .hero-content nav .active {
  border-radius: 16px;
  background: #1d2439;
  padding: 10%;
}
.hero-sec .hero-content .navbtn div {
  display: flex;
  justify-content: center;
  max-height: 70%;
  width: 100%;
  margin-bottom: 15%;
}
.navbtn div img {
  max-width: 100%;
  height: 100%;
}
.hero-sec .hero-content .navbtn span {
  color: #fff;
  text-align: center;
  font-family: var(--body-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
}
.hero-sec .hero-content-text {
  width: 75%;
}
.hero-sec .hero-content-text h1 {
  color: #fff;
  text-align: center;
  text-shadow: 8px 8px 20px rgba(0, 0, 0, 0.64);
  font-family: "Zen Dots", sans-serif;
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 3%;
}
.hero-sec .hero-content-text p {
  color: #c0c0c0;
  text-align: center;
  font-family: var(--body-font), sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
}

.sec-two {
  /* height: 70vh; */
  padding: 10% 0 5%;
  display: flex;
  flex: 1;
  gap: 5%;
  align-items: center;
  justify-content: space-between;
}
.sec-two-text {
  width: 45%;
}
.sec-two-text p, .sec-four p {
  color: #c0c0c0;
  font-family: var(--body-font), sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
  letter-spacing: -0.96px;
}
.sec-two-img {
  width: 45%;
  height: 100%;
}
.sec-two-img img {
  max-width: 100%;
  height: auto;
}
.sec-three {
  padding: 5% 10% 7%;
}
.sec-three .value-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  margin-top: 3%;
  flex-wrap: wrap;
}
.value-cards .value-card {
  height: 60vh;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 8%;
  margin-bottom: 5%;
  padding: 3%;
  border: solid 2px #5663dc;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
}
.value-card::before,
.value-card::after {
  content: "";
  position: absolute;
  width: 10%;
  height: 8.5%;
  /* background-color: #3498db; */
  /* border: 2px solid #5663DC; */
  background-color: #121212;
  transform: rotate(45deg);
}

.value-card::before {
  top: -4%;
  left: -5%;
  border-right: 2px solid #5663dc;
}

.value-card::after {
  bottom: -4%;
  right: -5%;
  border-left: 2px solid #5663dc;
}
.value-card i {
  font-size: var(--fs-md2);
  color: #5663dc;
}
.value-card p {
  color: #eee;
  font-family: var(--body-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: -0.64px;
}
.sec-four{
  padding: 0 0 5%;
}
.sec-four h2{
  margin-bottom: 2%;
}
.sec-four p{
  width: 48%;
}